* {
    margin: 0;
    padding: 0;
}

/* Le asignamos la fuente a todo el documento HTML */
html {
    font-family: 'Fredoka', sans-serif;
}

/* Le asignamos un color de fondo y usamos alineación por FLEX */
body {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Centramos el texto, le damos fondo, color más otros ajustes y le asignamos el nombre del grid-area */
header {
    background-color: #0D0D0D;
    grid-area: header;
}

/* Fondo y color de texto, además, le asignamos el nombre del grid-area */
nav {
    background-color: #0D0D0D;
    color: white;
}

/* Le removemos los puntos (ul) del listado */
nav ul {
    list-style: none;
}

/* Le asignamos un tamaño y un padding al item del listado */
nav ul li {
    font-size: 18px;
    padding: 10px;
}

/* Hacemos que se mueva 5px a la derecha los items de la lista */
nav ul li:hover {
    transition: all 0.5s ease;
    transform:  translateX(5px)
}

/* Hacemos que la imagen ocupe el 100% de la pantalla */
img {
    width: 100%;
}

/* Le removemos el subrayado y le damos color */
a {
    text-decoration: none;
    color: #404040;
}

/* Le ponemos un tamaño al P, le damos color y lo alineamos justificadamente */
p {
    font-size: 18px;
    color: #A6A6A6;
    text-align: justify;
}

/* clase padding */
.padding {
    padding: 10px;
}

/* clase margin */
.margin {
    margin: 10px;
}

/* Le asignamos el nombre del grid-area */
section {
    grid-area: section;
}

/* Hacemos que estos elementos tengan padding y color de texto */
section h2, section ol, section ul, form {
    padding: 5px;
    color: #A6A6A6;
}

/*  Decoramos el footer a nuestro modo y le asignamos el nombre del grid-area*/
footer {
    padding: 1rem;
    background-color: #0D0D0D;
    bottom: 0;
    margin-top: auto;
    grid-area: footer;
}

/* Creamos el GRID básico con el método MOBILE FIRST */
main {
    display: grid;
    justify-content: space-evenly;
    grid-template-areas:
        "header"
        "section"
        "footer";
}

img:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.5s;
}