/*
Página de colores
*/

$colorPrimario: #0D0D0D;
$colorSecundario: #262626;
$colorTerciario: #A6A6A6;

//Nota: Sé usar el mapa pero no se me ocurre qué colores agregarle para utilizar
$mapaColores: (
    color1:   #0D0D0D,
    color2:   #262626,
    color3:   #A6A6A6,
    color4:   #FFFFFF
);