/*
Página de colores
*/

$colorPrimario: #0D0D0D;
$colorSecundario: #262626;
$colorTerciario: #A6A6A6;

//Nota: Sé usar el mapa pero no se me ocurre qué colores agregarle para utilizar
$mapaColores: (
    twitter:    #00acee,
    facebook:   #3b5998,
    instagram:  #C13584
);

$mapaParaGet: (
    youtube:    #c4302b
);

@each $key, $value in $mapaColores {
    .color-#{$key} {
        fill: $value;
        margin: 5px;
    }
}

.color-youtube {
    @extend .color-twitter;
    fill: map-get($mapaParaGet, youtube);
}